 Scrape Webpages for Dynamic Tables using Selenium.

In [34]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service

from bs4 import BeautifulSoup
import pandas as pd

In [35]:
options = webdriver.ChromeOptions()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')

In [36]:
site = 'https://ahdb.org.uk/cereals-oilseeds-markets'

In [37]:
#service = Service('C:/Users/43681/Downloads/Programs/chromedriver_win32/chromedriver.exe' )
#wd = webdriver.Chrome(service=service, options= options)
wd = webdriver.Chrome('chromedriver', options= options)

wd.get(site)

In [39]:
html = wd.page_source 

df = pd.read_html(html)
df[1]

  Paris (Euronext) Milling Wheat        €/tonne  Change since last update
0                         Mar 23  271.50 (unch)                       NaN
1                         May 23  272.50 (unch)                       NaN
2                         Sep 23  268.00 (unch)                       NaN
3                         Dec 23  270.00 (unch)                       NaN
4                         Mar 24  272.00 (unch)                       NaN
5                         May 24  272.50 (unch)                       NaN
6                         Sep 24  257.00 (unch)                       NaN
7                         Dec 24  258.25 (unch)                       NaN